* {
  margin: 0;
  padding: 0;
}

.senction {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-image: linear-gradient(to right, #9ac9e3, #326884);
  color: #fff;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.all-sections {
  height: 100%;
  display: flex;
}

.left-section {
  width: 60%;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
  padding: 40px 40px;
}

.left-content {
  width: 70%;
  /* border: 2px solid; */
  height: 90%;
}

.left-content h1 {
  font-size: 80px;
  color: #1c5071;
  font-weight: 1000;
  margin: 10px auto;
}

.left-content h2 {
  font-size: 40px;
  color: #4faad5;
  font-weight: 800;
  margin: 10px auto;
}

.left-content p {
  font-size: 18px;
  color: #b0b0b0;
  font-weight: 600;
  margin: 10px auto;
}

.left-content button {
  font-size: 20px;
  padding: 8px 35px;
  border: none;
  margin: 10px auto;
  background: #32516b;
  color: #fff;
}

footer {
  position: absolute;
  background-color: #134761;
  opacity: 50%;
  color: #fff;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

.image {
  position: absolute;
  width: 58%;
  height: 80%;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1170px) {
  .left-content h1 {
    font-size: 70px;
    color: #1c5071;
    font-weight: 1000;
    margin: 10px auto;
  }

  .left-content h2 {
    font-size: 30px;
    color: #4faad5;
    font-weight: 800;
    margin: 10px auto;
  }

  .left-content p {
    font-size: 14px;
    color: #b0b0b0;
    font-weight: 600;
    margin: 10px auto;
  }
  .image {
    height: 60%;
    /* width: 50%; */
  }
}

@media only screen and (max-width: 992px) {
  .navbar-collapse.show {
    display: block;
  }
  .left-section {
    width: 100%;
  }
  .image {
    display: none;
  }
  .left-content {
    width: 100%;
  }
  
  .left-content h1 {
    font-size: 70px;
    color: #1c5071;
    font-weight: 1000;
    margin: 10px auto;
  }

  .left-content h2 {
    font-size: 30px;
    color: #4faad5;
    font-weight: 800;
    margin: 10px auto;
  }

  .left-content p {
    font-size: 14px;
    color: #b0b0b0;
    font-weight: 600;
    margin: 10px auto;
  }
}
