* {
  margin: 0;
  padding: 0;
}

.senction {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-image: linear-gradient(to right, #9ac9e3, #326884);
  color: #fff;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.navbar-collapse {
  display: flex;
  justify-content: end;
  transition: none;
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  background: transparent;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  background: transparent;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 60%;
  padding: 0 0 0 50px;
  background: #e1e1e1;
  z-index: -1;
}

footer {
  background-color: #134761;
  opacity: 50%;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  color: #1c5071;
  font-weight: 1000;
}

.content h2 {
  font-size: 40px;
  color: #4faad5;
  font-weight: 800;
}

.content p {
  font-size: 18px;
  color: #b0b0b0;
  font-weight: 600;
}

.content button {
  font-size: 20px;
  padding: 8px 35px;
  border: none;
  background: #32516b;
  color: #fff;
}

.image {
  position: absolute;
  z-index: 0;
  height: 600px;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 2300px) {
  .image {
    height: 900px;
  }
}

@media only screen and (min-width: 2200px) {
  .image {
    height: 800px;
  }
}

@media only screen and (min-width: 1970px) {
  .image {
    height: 600px;
  }
}

@media only screen and (max-width: 1620px) {
  .image {
    height: 550px;
  }
}

@media only screen and (max-width: 1570px) {
  .image {
    height: 500px;
  }
}

@media only screen and (max-width: 1520px) {
  .image {
    height: 450px;
  }
}

@media only screen and (max-width: 1420px) {
  .image {
    height: 400px;
  }
}

@media only screen and (max-width: 1220px) {
  .image {
    height: 350px;
  }
  .content h1 {
    font-size: 60px;
  }

  .content h2 {
    font-size: 30px;
  }

  .content p {
    font-size: 15px;
  }

  .content button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1170px) {
  .image {
    height: 300px;
  }
}

@media only screen and (max-width: 1100px) {
  .image {
    height: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-collapse.show {
    display: block;
    transition: none;
    position: absolute;
    background-image: linear-gradient(to right, #9ac9e3, #326884);
    width: 100%;
    top: 50px;
  }

  .content {
    width: 100%;
    padding: 20px;
    padding-bottom: 30px;
  }

  .image {
    position: relative;
    height: 100%;
  }

  .content h1 {
    font-size: 40px;
  }

  .content h2 {
    font-size: 24px;
  }

  .content p {
    font-size: 12px;
  }

  .content button {
    font-size: 14px;
  }
  
  .left-content h1 {
    font-size: 70px;
    color: #1c5071;
    font-weight: 1000;
    margin: 10px auto;
  }

  .left-content h2 {
    font-size: 30px;
    color: #4faad5;
    font-weight: 800;
    margin: 10px auto;
  }

  .left-content p {
    font-size: 14px;
    color: #b0b0b0;
    font-weight: 600;
    margin: 10px auto;
  }
}
